{{ define "main" }}
<div class="post-list-title">
	<h1>{{ .Title }}</h1>
</div>
<div class="home h-feed">
	<ul class="post-list">
		{{ $paginator := .Paginate (where .Pages.ByDate.Reverse "Type" "post") (index .Site.Params "archive-paginate" |
		default 25) }}
		{{ range $paginator.Pages }}
		{{ if .Title }}
      <li class="post-list-item">
        <div class="post-list-item-title"><a href="{{ .Permalink }}">{{ .Title }}</a></div>
        <div class="post-list-item-date">
          <time class="dt-published"datetime="{{ .Date.Format " 2006-01-02 15:04:05 -0700" }}">{{ .Date.Format "Jan 2, 2006"}}</time>
        </div>
        <div class="post-list-item-content">
          <p>{{ .Summary | truncate 300 }}</p> 
          <a href="{{ .Permalink }}" class="continue-link">read more</a>
        </div>
      </li>
    {{ else }}
      <li class="post-list-item">
        <div class="post-list-item-title"><a href="{{ .Permalink }}"><time class="dt-published" datetime="{{ .Date.Format " 2006-01-02 15:04:05 -0700" }}">{{ .Date.Format "Jan 2, 2006" }}</a></div>
        <div class="post-list-item-content">
          {{ .Content }}
        </div>
      </li>
    {{ end }}
    {{ end }}
	</ul>

</div>
<div class="pagination">
	{{ if .IsHome }}
	{{ if .Site.Params.paginate_home }}
	{{ partial "pagination" . }}
	{{ end }}
	{{ else if .Site.Params.paginate_categories }}
	{{ partial "pagination" . }}
	{{ end }}
</div>
{{ end }}