<style>
  :root {
    --body-background-color: #f8f8f8;
    --body-text-color: #242424;
    --body-accent-color: #1184ab;
    --card-background-color: ##ffffff;
    --card-text-color: #252525;
    --card-accent-color: #1084ab;
    --hover-color: #d58400;
    --blockquote: #f8eec4;
    --blockquote-border: #d6a32e;
    --blockquote-text: #2a2a2b;
    --shadow-color: #e3e3e3;
  }
  [data-theme='light'] {
    --body-background-color: #f8f8f8;
    --body-text-color: #242424;
    --body-accent-color: #1184ab;
    --card-background-color: ##ffffff;
    --card-text-color: #252525;
    --card-accent-color: #1084ab;
    --hover-color: #d58400;
    --blockquote: #f8eec4;
    --blockquote-border: #d6a32e;
    --blockquote-text: #2a2a2b;
    --shadow-color: #e3e3e3;
  }

  [data-theme='dark'] {
    --body-background-color: #f8f8f8;
    --body-text-color: #242424;
    --body-accent-color: #1184ab;
    --card-background-color: ##ffffff;
    --card-text-color: #252525;
    --card-accent-color: #1084ab;
    --hover-color: #d58400;
    --blockquote: #f8eec4;
    --blockquote-border: #d6a32e;
    --blockquote-text: #2a2a2b;
    --shadow-color: #e3e3e3;
  }
</style>
