{{ if .Site.Params.usedarktheme }}
<div class="theme-switch-wrapper">
  🌞&nbsp;
  <label class="theme-switch" for="checkbox">
    <input type="checkbox" id="checkbox">
    <span class="slider round"></span>
  </label>
  &nbsp;🌛
</div>
<script>
  const toggleSwitch = document.querySelector(
    '.theme-switch input[type="checkbox"]'
  )

  function switchTheme(e) {
    if (e.target.checked) {
      document.documentElement.setAttribute('data-theme', 'dark')
    } else {
      document.documentElement.setAttribute('data-theme', 'light')
    }
  }

  toggleSwitch.addEventListener('change', switchTheme, false)

  function switchTheme(e) {
    if (e.target.checked) {
      document.documentElement.setAttribute('data-theme', 'dark')
      localStorage.setItem('theme', 'dark')
    } else {
      document.documentElement.setAttribute('data-theme', 'light')
      localStorage.setItem('theme', 'light')
    }
  }

  const currentTheme = localStorage.getItem('theme')
    ? localStorage.getItem('theme')
    : null

  if (currentTheme) {
    document.documentElement.setAttribute('data-theme', currentTheme)

    if (currentTheme === 'dark') {
      toggleSwitch.checked = true
    }
  }
</script>
{{ end }}
<header>
  <div class="site-header">
  <a class="site-header-title-link" href="/">{{ .Site.Title }}</a>
 <!--
  <nav>
    <input class="hidden" type="checkbox" id="nav" placeholder="Site Navigation" >
    <label class="nav-open" for="nav"><i></i><i></i><i></i></label>
    <div class="nav-container">
      <ul class="menu">
        {{ range .Site.Menus.main }} {{ if .Page.Params.redirect }}
        <li>
          <a class="site-nav-link" href="{{ .Page.Params.redirect }}"
            >{{ .Name }}</a
          >
        </li>
        {{ else }}
        <li>
          <a class="site-nav-link" href="{{ .URL | relLangURL | safeURL }}"
            >{{ .Name }}</a
          >
        </li>
        {{ end }} {{ end }}
      </ul>
    </div>
  </nav>-->
</div>
</header>
