{{ define "main" }}
<div class="home h-feed">
  <ul class="post-list">
    {{ $posts := where site.Pages "Type" "post" }}
    {{ $hidden_posts := where $posts "Params.categories" "intersect" (slice "Micro Posts") }}
    {{ $posts = $posts | symdiff $hidden_posts }}
    {{ $paginator := .Paginate $posts }}
    {{ range $paginator.Pages }}
    <li class="post-list-item">
      <div class="post-list-item-title"><a href="{{ .Permalink }}">{{ .Title }}</a></div>
      <div class="post-list-item-date">
        <time class="dt-published"datetime="{{ .Date.Format " 2006-01-02 15:04:05 -0700" }}">{{ .Date.Format "Jan 2, 2006"}}</time>
      </div>
      <div class="post-list-item-content">
        <p>{{ .Summary | truncate 300 }} <a href="{{ .Permalink }}" class="continue-link">read more</a></p>
      </div>
    </li>
  </ul>
</div>
<div class="pagination">
  {{ if .IsHome }}
  {{ if .Site.Params.paginate_home }}
    {{ partial "pagination" . }}
  {{ end }}
  {{ else if .Site.Params.paginate_categories }}
    {{ partial "pagination" . }}
  {{ end }}
</div>
{{ end }}